@tailwind base;
@tailwind components;
@tailwind utilities;

/* убираем выделение всех объектов хрома */

*:focus {
    outline: none;
}

p,
h1,
h3,
label {
    color: white;
}

body {
    background-color: #020403;
    font-family: 'Playfair Display', serif;
    font-family: 'Ubuntu', sans-serif;
}

@media (max-height: 668px) {
    .button-play_wrap {
        margin-top: 10%;
    }
}
